.chat-container {
    height: calc(100vh - 108px);
    background-image: linear-gradient(to top,#12210d,#315724);
    border-right: 4px solid #acacac;
}

.chat-wrapper {
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chat-messages {
    flex: 1;
    transform: scale(1, -1);
    overflow: auto;
}

.chat-buffer {
    display: flex;
    flex-flow: column-reverse;
}

.chat-message {
    transform: scale(1, -1);
    color: rgb(218, 203, 75);
}

.chat-input {
    height: 30px;
    border-top:1px solid #000;
    width: 100%;
    display: grid;
    grid-template-areas: 'chat_input chat_button';
    grid-template-columns: auto 52px;
}

.chat-input input[type=text] {
    height: 22px;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #000000;
    color: rgb(218, 203, 75);
    grid-area: chat_input; 
}

.button.flat {
    margin-left: 5px;
    margin-right: 5px;
    height: 22px;
    grid-area: chat_button; 
}