#top_panel { 
    grid-area: top_panel; 
    background-image: url('/panel_bottom_top.png'); 
    background-position: center top;
    background-size: 100% 100%;
    border-bottom: 4px solid #8b8b8b;
}

.nick-panel {
    width: 100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nick {
    color: #a0a0a0;
}