main {
  width: 100%;
  height: 100%;
}

#grid_layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'game_window game_window'
    'bottom_panel bottom_panel';
  grid-template-rows: auto 76px;
  grid-template-columns: auto auto;
}