main {
  width: 100%;
  height: 100%;
}

#grid_layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'top_panel top_panel top_panel'
    'left_panel game_window game_window'
    'bottom_panel bottom_panel bottom_panel';
  grid-template-rows: 54px auto 54px;
  grid-template-columns: 256px auto auto;
}

.button.green {
  background-image: linear-gradient(to top,#12210d,#315724);
  box-shadow: inset 0 0 1px 1px #cecece, inset 0 0 0 3px #0c0d0d;
}

.button {
  width: 38px;
  height: 38px;
  border-radius: 4px;
  color: rgb(214, 214, 214);
  display: flex;
  align-items: center;
  justify-content: center;
}