#bottom_panel { 
  grid-area: bottom_panel; 
  background-image: url('/paper_panel.png'); 
  background-position: center top;
  background-size: 100% 100%;
}

#game_window { 
  grid-area: game_window; 
  overflow: hidden; 
}

#grid_layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    'game_window game_window'
    'bottom_panel bottom_panel';
  grid-template-rows: auto 76px;
  grid-template-columns: auto auto;
}