<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  
  <style>
    @font-face {
      font-family: 'pixelFont';
      src: url('pixeled2.ttf') format('truetype');
    }
  </style>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <style>
    * {
      padding: 0;
      margin: 0;
    }

    #loader {
      width:100%; 
      height:100%; 
      position:absolute; 
      background: #000; 
      color: #fff;
    }

    #connection_problem {
      width:100%; 
      height:100%; 
      position:absolute; 
      background: #000; 
      color: #fff;
      display: none;
    }

  </style>
</head>

<body style="background: #000;">
    <div id="loader">
      Loading...
    </div>
    <div id="connection_problem">
      Problem with connection...
    </div>
    <canvas id="game">
    </canvas>
</body>

</html>